#login {
    height: 100vh;
    width: 100%;
    background-color: #A80227;
    background-image: url(image/intro-background.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
}

#login .logo {
    width: 50px;
    position: relative;
    display: block;
    text-align: center;
    padding-top: calc(20%);
    padding-bottom: 30px;
}

#login #comp-login {
    position: relative;
    display: block;
}