#login {
    height: 100vh;
    width: 100%;
    background-color: #A80227;
    background-image: url(image/intro-background.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
}

#login .logo {
    width: 50px;
    position: relative;
    display: block;
    text-align: center;
    padding-top: calc(20%);
    padding-bottom: 30px;
}

#login #login-comp  {
    position: relative;
    display: block;
    text-align: center;
    padding-top: calc(20%);
    padding-bottom: 30px;

    left: 50%;
    right: 50%!important;
}

#login .login-comp {
    margin-top: 50%;
    padding-top: 10px;
}