main #main {
    height: inherit;
    width: inherit;
    background: #A80227!important;
    background-image: url(image/intro-background.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
    border: solid 1px black;
    color: #A80227;
}